# Perform Clustering(Hierarchical, Kmeans & DBSCAN) for the crime data and identify the number of clusters formed and draw inferences.

Data Description:
Murder -- Muder rates in different places of United States
Assualt- Assualt rate in different places of United States
UrbanPop - urban population in different places of United States
Rape - Rape rate in different places of United States

In [1]:
# importing libraries

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
crime = pd.read_csv("crime_data.csv")
crime.head(5)

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [3]:
crime.drop(['Unnamed: 0'],axis = 1,inplace= True)

In [4]:
crime.head()

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6

In [6]:
crime.columns

Index(['Murder', 'Assault', 'UrbanPop', 'Rape'], dtype='object')

In [7]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Murder    50 non-null     float64
 1   Assault   50 non-null     int64
 2   UrbanPop  50 non-null     int64
 3   Rape      50 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.7 KB

In [8]:
crime.describe()

         Murder     Assault   UrbanPop       Rape
count  50.00000   50.000000  50.000000  50.000000
mean    7.78800  170.760000  65.540000  21.232000
std     4.35551   83.337661  14.474763   9.366385
min     0.80000   45.000000  32.000000   7.300000
25%     4.07500  109.000000  54.500000  15.075000
50%     7.25000  159.000000  66.000000  20.100000
75%    11.25000  249.000000  77.750000  26.175000
max    17.40000  337.000000  91.000000  46.000000

In [9]:
crime.isnull()

    Murder  Assault  UrbanPop   Rape
0    False    False     False  False
1    False    False     False  False
2    False    False     False  False
3    False    False     False  False
4    False    False     False  False
5    False    False     False  False
6    False    False     False  False
7    False    False     False  False
8    False    False     False  False
9    False    False     False  False
10   False    False     False  False
11   False    False     False  False
12   False    False     False  False
13   False    False     False  False
14   False    False     False  False
15   False    False     False  False
16   False    False     False  False
17   False    False     False  False
18   False    False     False  False
19   False    False     False  False
20   False    False     False  False
21   False    False     False  False
22   False    False     False  False
23   False    False     False  False
24   False    False     False  False
25   False    False     False  False
26   False    False     False  False
27   False    False     False  False
28   False    False     False  False
29   False    False     False  False
30   False    False     False  False
31   False    False     False  False
32   False    False     False  False
33   False    False     False  False
34   False    False     False  False
35   False    False     False  False
36   False    False     False  False
37   False    False     False  False
38   False    False     False  False
39   False    False     False  False
40   False    False     False  False
41   False    False     False  False
42   False    False     False  False
43   False    False     False  False
44   False    False     False  False
45   False    False     False  False
46   False    False     False  False
47   False    False     False  False
48   False    False     False  False
49   False    False     False  False

In [10]:
crime.isnull().sum()

Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

In [ ]:
# Normalization & standardraization  
crime_norm=StandardScaler().fit_transform(crime)
crime_norm

In [ ]:
# DBSCAN Clustering
dbscan=DBSCAN(eps=1,min_samples=4)
dbscan.fit(crime_norm)

In [ ]:
#Noisy samples are given the label -1.
dbscan.labels_

In [ ]:
crime["Label"] = dbscan.labels_

In [ ]:
crime["Label"].value_counts()

In [ ]:
crime[crime["Label"]==-1]

In [ ]:
crime[crime["Label"]==1]

In [ ]:
crime[crime["Label"]==0]

In [ ]:
crime.groupby("Label").agg(['mean']).reset_index()

In [ ]:
# Ploting Clusters
plt.figure(figsize=(12, 8))  
plt.scatter(crime['Label'],crime['UrbanPop'], c=dbscan.labels_)